body {
  background-color: #ee1515; 
}

h1, h2 {
  text-shadow: 2px 5px 5px black;
  color: #f0f0f0; 
}

h1 {
  font-size: 64px; 
}

h2 {
  font-size: 28px; 
}

button, 
input[type="submit"] {
  background-color: cornflowerblue;
  outline: none; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 8px black;
  max-width: 250px; 
}

button:enabled:hover, 
input[type="submit"]:enabled:hover {
  box-shadow: 0 3px black;
  transform: translateY(5px);
}

input[type="text"] {
  max-width: 475px; 
}

.navbar {
  background-color: #222224;
}

.navbar a {
  color: dimgray; 
  text-decoration: none;
  font-size: 18px; 
}

.navbar a:hover {
  color: #f0f0f0; 
}

.page {
  position: relative; 
  align-items: center;
  font-size: 36px; 
}

.home {
  top: 15vh; 
}

.host {
  top: 30vh; 
}

.join {
  top: 25vh; 
}

.lobby {
  top: 10vh; 
}

.round {
  top: 12vh; 
}

.home-titles {
  align-items: center;
}

.home button,
.host input[type="submit"],
.join input[type="submit"],
.lobby button {
  width: 40%; 
}

.host input[type="text"],
.join input[type="text"] {
  width: 70%; 
}

.floor {
  box-sizing: border-box;
  width: 80%; 
  height: 45vh; 
  background-color: #FAA0A0;
  overflow-x: hidden; 
  overflow-y: auto; 
}

.floor ul {
  list-style-type: none;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.floor li {
  width: 40%; 
  text-align: center;
  overflow: hidden;
}

.frame {
  width: 90%; 
  max-width: 380px; 
}

.buffer-canvas, 
.draw-canvas {
  position: absolute;
}

.buffer-canvas {
  visibility: hidden;
}

.round-choices {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.round-choices button {
  width: 90%; 
}

/* sm */
@media (min-width: 576px) {
  .floor {
    width: 75%; 
  }

  .floor li {
    width: 35%; 
  }
}

/* md */
@media (min-width: 768px) {
  .floor {
    width: 70%; 
  }

  .floor li {
    width: 30%; 
  }

  .round-choices {
    flex-direction: row;
    width: 550px; 
  }
}

/* lg */
@media (min-width: 992px) {
  .floor {
    width: 65%; 
  }

  .floor li {
    width: 25%; 
  } 
}

/* xl */
@media (min-width: 1200px) {
  .floor {
    width: 60%; 
  }

  .floor li { 
    width: 20%;  
  }
}
