body {
  background-color: #ee1515; 
}

.navbar {
  background-color: #222224;
}

.navbar a {
  color: dimgray; 
  text-decoration: none;
  font-size: 18px; 
}

.navbar a:hover {
  color: white; 
}

.page {
  position: relative; 
  align-items: center;
  text-align: center;
  font-size: 32px; 
}

.page h1, .page h2 {
  text-shadow: 2px 5px 5px black;
  color: #f0f0f0; 
}

.page h1 {
  font-size: 62px; 
}

.page h2 {
  font-size: 28px; 
}

.page button, 
.page input[type="submit"] {
  background-color: cornflowerblue;
  outline: none; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 8px black;
  width: 50%; 
  max-width: 250px; 
}

.page button:enabled:hover, 
.page input[type="submit"]:enabled:hover {
  box-shadow: 0 3px black;
  transform: translateY(5px);
}

.page input[type="text"],
.host-select {
  text-align: left;
  width: 90%; 
  max-width: 425px; 
  outline-color: var(--bs-primary);
}

.home {
  top: 15vh; 
}

.host {
  top: 18vh; 
}

.host-option {
  font-size: 24px; 
}

.join {
  top: 28vh; 
}

.lobby {
  top: 10vh; 
}

.floor {
  box-sizing: border-box;
  width: 80%; 
  height: 45vh; 
  background-color: #FAA0A0;
  overflow-x: hidden; 
  overflow-y: auto; 
}

.floor-list {
  list-style-type: none;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0; 
}

.floor-list li {
  width: 40%; 
  text-align: center;
  overflow: hidden;
}

.countdown {
  top: 40vh; 
}

.round {
  top: 15vh; 
}

.round button {
  width: 90%; 
}

.frame {
  width: 90%; 
  max-width: 380px; 
}

.countdown h1 {
  font-size: 102px;
}

.buffer-canvas, 
.draw-canvas {
  position: absolute;
}

.buffer-canvas {
  visibility: hidden;
}

.round-choices, .round-answer {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; 
  width: 100%; 
}

.timer {
  position: fixed;
  bottom: 0; 
  height: 20px; 
  background-color: teal;   
}

.leaderboard {
  top: 15vh; 
}

.leaderboard-list-container {
  justify-content: start;
  align-items: center;
  margin: auto; 
  width: 90%; 
  max-width: 420px; 
  max-height: 55vh; 
  overflow: auto;
}

.leaderboard-list {
  width: 100%; 
  background-color: coral !important;  
  border: 2px solid black; 
}

.leaderboard-list tr {
  border: 1px solid black; 
}

.footer {
  height: 5vh; 
}

/* sm */
@media (min-width: var(--breakpoint-sm)) {
  .floor {
    width: 75%; 
  }

  .floor-list li {
    width: 35%; 
  }
}

/* md */
@media (min-width: var(--breakpoint-md)) {
  .floor {
    width: 70%; 
  }

  .floor-list li {
    width: 30%; 
  }

  .round-choices {
    flex-direction: row;
    width: 550px; 
  }
}

/* lg */
@media (min-width: var(--breakpoint-lg)) {
  .floor {
    width: 65%; 
  }

  .floor-list li {
    width: 25%; 
  } 
}

/* xl */
@media (min-width: var(--breakpoint-xl)) {
  .floor {
    width: 60%; 
  }

  .floor-list li { 
    width: 20%;  
  }
}
